.wrapper {
    border-top: 1px solid #1618231f;
    margin-bottom: 8px;
}

.title {
    padding: 8px;
    font-size: 1.4rem;
    line-height: 20px;
}

.see-all {
    color: rgb(254, 44, 85);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 8px;
    cursor: pointer;
}
