.wrapper {
    display: flex;
    padding: 8px;
    cursor: pointer;

    &:hover {
        background-color: #f8f8f8;
    }
}
.avatar {
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.2rem;
}
.body {
    flex: 1;
    line-height: 1.3;
}
.nickname {
    font-size: 1.6rem;
}
.check {
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 4px;
}
.name {
    font-size: 1.2rem;
    color: #161823bf;
}
